/* Write your CSS here */
.LanguageFilterItem_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Roboto';
}
.LanguageFilterItem_button {
  margin: 10px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.activeLanguageFilterItem_button {
  margin: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #0284c7;
  border-color: #0284c7;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
}
